.masonItem {
    float: left;
    width: 270px;
    margin: 2px;
    text-align: center;
    background: white;
    border-radius: 2px;
    border: 1px solid black;
    padding: 15px 0
}
.masonItem img {
    width: 93%;
    margin: 0 auto;

}


